html, body {
   font-family: 'Source Sans Pro', sans-serif;
   background-color: #0A3161;
   background-image: linear-gradient(#0A3161, #368B87);
   color: #fff;
}

/* Nav CSS */
.nav-links {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   /* background-image: linear-gradient(#368B87, #0A3161); */

}

.nav-links > h1 {
   margin-right: auto;
   font-size: 60px;


}

.nav-links a {
   text-decoration: none;
   font-size: 20px;
   margin-right: 10em;
   color: #fff;

   
}

/* Game CSS */
.game {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   border: solid #DBEFED;
   border-radius: 25px;
   width: 400px;
   height: 400px;
   margin: auto;
   background-color: #368B87;

}

#maxNum {
   font-size: 25px;
}
#label-guess {
   font-size: 18px;
}
.btn {
   font-size: 20px;
   background-color: #0A3161;
   color: #fff;
   border: none;
   border-radius: 20px;
   padding: 15px;
   margin-top: 20px;
}

form {
   text-align: center;
   width: 100%;
}

#guess {
   margin-top: 15px;
   width: 50%;
   height: 3em;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   text-align: center;

}

#message {
   width: 80%;
}

/* How to Play CSS */

#how-to-play {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   width: 75%;
   height: 700px;
   background-color: #368B87;
   border: solid #DBEFED;
   border-radius: 20px;
}

#how-to-play h1 {
   font-size: 60px;
}

.list {
   height: 100%;
   font-size: 25px;

}

.list li {
   padding: 15px;
}

/* About CSS */

#about {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   width: 75%;
   height: 700px;
   background-color: #0A3161;
   border: solid #DBEFED;
   border-radius: 20px;
   padding: 30px;
}

#about h1 {
   font-size: 60px;
}
#about p {
   font-size: 30px;
   padding: 40px;
   background-color: #0A3161;
   border: solid #DBEFED;
   border-radius: 10px;
   box-shadow: 5px 10px #368B87;
   
}

/* Footer CSS */
footer {
   text-align: center;
   margin-top: 50px;
}

/* Responsive CSS */
@media screen and (max-width: 1107px) {
   .nav-links {
      display: flex;
      flex-direction: column;
      padding: 20px;

   }
   .nav-links h1 {
   margin: auto;
   }
   .nav-links a {
   padding: 20px;
   margin: auto;
    }
    #about p {
      font-size: 20px;
      padding: 40px;
      background-color: #0A3161;
      border: solid #DBEFED;
      border-radius: 10px;
      height: 100%;
      min-height: 100px;
      overflow: hidden;
   
   }


 }